@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*** HOMEPAGE ***/
.home-container {
  min-height: 100vh;
  margin: 0;
  background-color: rgba(85, 81, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_box {
  height: 150px;
  width: 273px;
  left: 50px;
  top: 223px;
  border: 8px solid rgba(0, 0, 0, 1);
  border-radius: 15px;
  background: #ffecea;
  box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.home_box p {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 15px;
}

.cursor_img {
  position: absolute;
  width: 81px;
  height: 129px;
  left: 266px;
  top: 400px;
}

/*** FOOTER ***/
footer {
  /* display: flex;
  justify-content: space-between; */
  position: fixed;
  /* margin-top: auto; */
  bottom: 0;
  /* left: 0; */
}

.logo {
  margin-right: 200px;
}

/* .tofu {
  right: 0;
} */
